* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', Helvetica sans-serif;
    background: rgb(41, 63, 11);
    background: linear-gradient(0deg, rgba(41, 63, 11, 1) 0%, rgba(221, 202, 153, 1) 80%);
    font-size: 16px;
}


/*HEADER + NAV*/

.header-top {
    background-color: rgba(22, 12, 7, 0.5);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    display: flex;
    height: 50px;
}

.header-top nav a {
    text-decoration: none;
    color: #160c07;
    font-weight: bold;
    padding-right: 10px;
}

.header-top nav a:hover {
    color: #293f0b;
}


/*FOOTER*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #293f0b;
    text-align: center;
}

.redes-sociales li {
    display: inline;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.contacto-link {
    display: inline-block;
    color: #ddca99;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    font-size: large;
}

.contacto-link:hover {
    color: #160c07;
}


/* ENCABEZADO BIENVENIDA */

#header-image {
    position: relative;
    width: 100%;
}

#cuadro-principal {
    width: 100%;
    height: auto;
    display: block;
}

#bienvenida {
    position: absolute;
    top: 50%;
    right: 5%;
    text-align: right;
}

#bienvenida h1 {
    font-size: 100px;
    font-weight: bolder;
}


/*NOSOTROS*/

#nosotros{
    margin: 5% 2% 5% 2%;
}

#nosotros article{
    text-align: center;
    color: #160c07;
    font-weight: bold;
    padding: 5%;
}

#nosotros article h2{
    font-size: xx-large;
    color: #ddca99;
    text-shadow: 0 0 10px #160c07;
    padding: 10px;
}

#video-pizza{
    width: 75%;
    margin: 5% auto;
    border: 2px solid #ddca99;  
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

#video-pizza iframe{
    padding: 5px;
    width: 75%;
}

#video-pizza h3, p{
    color: #160c07;
    text-align: center;
    padding: 5px;
}


/*MENU y PEDIDO*/

/*Estos funcionan para todas las imagenes de encabezados*/
.encabezado {
    position: relative;
    margin-bottom: 2%;
}

.imagen-encabezado {
    width: 100%;
    height: auto;
}

.titulo-encabezado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: xx-large;
    color: #ddca99;
    text-shadow: 0 0 5px #160c07;
    text-align: center;
}


#menu{
    margin-bottom: 5%;
}

#menu h4{
    text-align: center;
    margin-bottom: 2%;
    font-weight: bolder;
    color: #160c07;
    margin-right: 5%;
    margin-left: 5%;
}

#pedido{
    margin-top: 5%;
    margin-bottom: 5%;
}

#pedido h4{
    text-align: center;
    margin-bottom: 2%;
    font-weight: bolder;
    color: #ddca99;
}

/*FORMULARIO PEDIDO*/

.formulario{
    border: 2px solid #ddca99;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: #160c07;
}

.formulario h1{
    padding: 10px;
    color: #ddca99;
    text-shadow: 0 0 5px #160c07;
}

.formulario label{
    font-weight: bold;
}

#pizza-seleccionada {
    font-family: 'Nunito Sans', Helvetica sans-serif;
    font-weight: bold;
    border: 2px solid #ddca99;  
    border-radius: 4px;
    width: 50%;
    height: auto;
    margin: 5px;
}

.boton-formulario{
    box-sizing: border-box;
    font-family: 'Nunito Sans', Helvetica sans-serif;
    font-weight: bolder;
    color:#160c07;
    background-color: #ddca99;
    border: 2px solid #160c07;  
    border-radius: 4px;
    width: 25%;
    height: auto;
}

.caja{
    box-sizing: border-box;
    font-family: 'Nunito Sans', Helvetica sans-serif;
    border: 1px solid #ddca99;
    border-radius: 4px;
    width: 25%;
    height: auto;
}

.cajaylabel{
    margin: 10px;
    text-align: center;   
}

.cajaylabel label{
    margin: 5px;
    display: block;
}

#seleccion-pizza{
    border: 1px solid #160c07;
    border-radius: 4px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin: 20px;
}

#seleccion-pizza label{
    margin: 5px;
}

#seleccion-pizza input{
    margin: 5px;
}

.cuadro-texto{
    resize: none;
    font-family: 'Nunito Sans', Helvetica sans-serif;
    border: 1px solid #ddca99;
    border-radius: 4px;
    width: 200px;
    height: 100px;
    margin: 10px;
}




/*LISTADO DE PIZZAS*/

#lista-pizzas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    list-style: none;
}

.opcion-pizza {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #ddca99;
    margin: 2px;
    color: #160c07;
}

.opcion-pizza h3{
    margin: 10px;
}

.pizza-image {
    width: 200px;
    margin: 10px;
}

.descripcion-pizza{
    margin: 10px;
    padding: 10px;
}

.size-option{
    margin: 10px;
}

.precio-pizza{
    margin: 10px;
    font-weight: bolder;
}


/*CONTACTO*/

#contacto{
    margin-bottom: 5%;
}

#contacto p{
    text-align: center;
    color: #160c07;
    font-weight: 550;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}


/*CSS PARA PANTALLAS MENORES A 768PX y a 450PX COMO TABLETS Y CELULARES*/

@media (max-width: 768px){
    body{
        font-size: 14px;
    }

    .titulo-encabezado{
        font-size: x-large;
    }

    .caja{
        width: 50%;
    }

    .boton-formulario{
        width: 50%;
    }

    .cuadro-texto{
        width: 50%;
        height: 75px;
    }

    .header-top{
        height: 50px;
    }

    .header-top nav a{
        font-size: 12px;
        padding-right: 5px;
    }

    .header-logo{
        height: 40px;
    }

    
    #bienvenida h1 {
        font-size: 50px;
    }   
    
    .redes-sociales img {
        width: 25px;
        height: 25px;
        margin: 3px;
    }
    
    .contacto-link {
        margin: 3x;
        font-size: medium;
    }

    
    #nosotros article h2{
        font-size: x-large;
    }
}

@media (max-width: 450px){
    body{
        font-size: 13px;
    }

    .titulo-encabezado{
        font-size: large;
    }

    .header-logo{
        height: 33px;
    }

    .header-top{
        height: 30px;
    }

    .header-top nav a{
        font-size: 12px;
        padding-right: 1px;
    }

    #bienvenida h1 {
        font-size: 25px;
    }

    #bienvenida p{
        font-size: 11px;
    }

    .redes-sociales img {
        width: 20px;
        height: 20px;
        margin: 2px;
    }
    
    .contacto-link {
        margin: 2x;
        font-size: small;
    }

    .caja{
        width: 60%;
    }

    .boton-formulario{
        width: 60%;
    }

    .cuadro-texto{
        width: 60%;
        height: 75px;
    }

    #nosotros article h2{
        font-size: large;
    }

    #nosotros article p{
        font-size: 11px;
    }

}